<!-- BEGIN TITLE -->
<div class="section-block pt-60 pb-30 bkg-grey-ultralight color-charcoal" style="margin-bottom: 100px !important;">
  <div class="row">
    <div class="column width-8 offset-2 center">
      <h1 class="weight-light text-uppercase">{TITLE.TITLE} </h1>
      <p>{TITLE.DESCRIPTION}</p>
    </div>
  </div>
</div>
<!-- END TITLE -->
<!-- BEGIN PART1 -->
<div class="section-block feature-3 bkg-grey-ultralight overflow-visible">
  <div class="row flex">
    <div class="column width-5 push-6">
      <div class="feature-content">
        <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
          <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">{PART1.TITLE}</h2>
          <p>{PART1.DESCRIPTION}</p>
        </div>
      </div>
    </div>
    <div class="column width-5 pull-6 offset-2 center">
      <div class="feature-image">
        <div class="feature-image-inner pt-20 no-padding-on-mobile horizon"
          data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;"><img alt=""
            src="{PART1.IMAGE}" width="400" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PART1 -->
<!-- BEGIN PART2 -->
<div class="section-block bkg-grey hero-5 hero-5-1 right clear-height show-media-column-on-mobile">
  <div class="media-column width-6 " style="background-image: url({PART2.IMAGE});">&nbsp; </div>
  <div class="row flex ">
    <div class="column width-5 ">
      <div class="hero-content split-hero-content">
        <div class="hero-content-inner left horizon" data-animate-in="preset:turnInLeft;duration:1000ms;"
          data-threshold="0.6">
          <h2 class="mb-20 horizon font-alt-1 color-white" data-parallax="direction:vertical;speed:0.1;rotate:none;">{PART2.TITLE}</h2>
          <div class="color-white">{PART2.DESCRIPTION}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PART2 -->
<!-- BEGIN PART3 -->
<div class="section-block feature-3 bkg-white">
  <div class="row flex">
    <div class="column width-5 offset-1">
      <div class="feature-content">
        <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
          <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">{PART3.TITLE}</h2>
          <p>{PART3.DESCRIPTION}</p>
        </div>
      </div>
    </div>
    <div class="column width-5 center">
      <div class="feature-image">
        <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40"
          data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;"><img alt=""
            src="{PART3.IMAGE}" width="400" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PART3 -->
