<section id="features">
  <!-- BEGIN PART1 -->
  <div class="section-block feature-3 bkg-white">
    <div class="row flex">
      <div class="column width-5 offset-1">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.3;rotate:none;"> 01 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;"> {PART1.TITLE} </h2>
            <p class="lead">{PART1.DESCRIPTION}</p>
          </div>
        </div>
      </div>
      <div class="column width-5 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40"
            data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
            <img src="{PART1.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART1 -->
  <!-- BEGIN PART2 -->
  <div class="section-block feature-3 bkg-grey-ultralight overflow-visible">
    <div class="row flex">
      <div class="column width-5 push-6">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.35;rotate:none;"> 02 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;"> {PART2.TITLE} </h2>
            <p class="lead"> {PART2.DESCRIPTION} </p>
          </div>
        </div>
      </div>
      <div class="column width-5 pull-6 offset-2 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon"
            data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
            <img src="{PART2.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART2 -->
  <!-- BEGIN PART3 -->
  <div class="section-block feature-3 bkg-white">
    <div class="row flex">
      <div class="column width-5 offset-1">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.3;rotate:none;"> 03 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;"> {PART3.TITLE} </h2>
            <p class="lead"> {PART3.DESCRIPTION} </p>
          </div>
        </div>
      </div>
      <div class="column width-5 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40"
            data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
            <img src="{PART3.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART3 -->
  <!-- BEGIN PART4 -->
  <div class="section-block feature-3 bkg-grey-ultralight overflow-visible">
    <div class="row flex">
      <div class="column width-5 push-6">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.35;rotate:none;"> 04 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">  {PART4.TITLE} </h2>
            <p class="lead"> {PART4.DESCRIPTION} </p>
          </div>
        </div>
      </div>
      <div class="column width-5 pull-6 offset-2 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon"
            data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
            <img src="{PART4.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART4 -->
  <!-- BEGIN PART5 -->
  <div class="section-block feature-3 bkg-white">
    <div class="row flex">
      <div class="column width-5 offset-1">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.3;rotate:none;"> 05 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">  {PART5.TITLE} </h2>
            <p class="lead"> {PART5.DESCRIPTION} </p>
          </div>
        </div>
      </div>
      <div class="column width-5 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40"
            data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
            <img src="{PART5.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART5 -->
  <!-- BEGIN PART6 -->
  <div class="section-block feature-3 bkg-grey-ultralight overflow-visible">
    <div class="row flex">
      <div class="column width-5 push-6">
        <div class="feature-content">
          <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
            <h4 class="mb-20 title-xlarge horizon" data-parallax="direction:vertical;speed:0.35;rotate:none;"> 06 </h4>
            <h2 class="mb-20 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">  {PART6.TITLE} </h2>
            <p class="lead"> {PART6.DESCRIPTION} </p>
          </div>
        </div>
      </div>
      <div class="column width-5 pull-6 offset-2 center">
        <div class="feature-image">
          <div class="feature-image-inner pt-20 no-padding-on-mobile horizon"
            data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
            <img src="{PART6.IMAGE}" width="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PART6 -->
</section>
