<div class="section-block replicable-content team-2">
  <div class="row">
    <!-- BEGIN TITLE -->
    <div class="column width-6">
      <h2 class="mb-40">{TITLE.TITLE}</h2>
      <p>{TITLE.DESCRIPTION}</p>
    </div>
    <!-- END TITLE -->
    <div class="column width-12">
      <div class="row content-grid-4">
        <!-- BEGIN STEP1 -->
        <div class="grid-item" data-animate-in="preset:slideInUpShort;duration:10ms; " data-threshold="0.3 ">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut " data-hover-speed="500 "
            data-hover-bkg-opacity="0.9 ">
            <img src="{STEP1.IMAGE}" style="height: 100px; width: 100px; margin-left: 17px;" alt=" " />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">{STEP1.TITLE}</h3>
            <p>{STEP1.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP1 -->
        <!-- BEGIN STEP2 -->
        <div class="grid-item" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms; "
          data-threshold="0.3 ">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut " data-hover-speed="500 "
            data-hover-bkg-color="#ffffff " data-hover-bkg-opacity="0.9 ">
            <img src="{STEP2.IMAGE}" style="height: 100px; width: 100px; margin-left: 10px;" alt=" " />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">{STEP2.TITLE}</h3>
            <p> {STEP2.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP2 -->
        <!-- BEGIN STEP3 -->
        <div class="grid-item" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms; "
          data-threshold="0.3 ">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut " data-hover-speed="500 "
            data-hover-bkg-color="#ffffff " data-hover-bkg-opacity="0.9 ">
            <img src="{STEP3.IMAGE}" style="height: 100px; width: 100px; margin-left: 15px;" alt=" " />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">{STEP3.TITLE}</h3>
            <p> {STEP3.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP3 -->
        <!-- BEGIN STEP4 -->
        <div class="grid-item" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms; "
          data-threshold="0.3 ">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut " data-hover-speed="500 "
            data-hover-bkg-color="#ffffff " data-hover-bkg-opacity="0.9 ">
            <img src="{STEP4.IMAGE}" style="height: 100px; width: 100px; margin-left: 15px;" alt=" " />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">{STEP4.TITLE}</h3>
            <p> {STEP4.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP4 -->
      </div>
    </div>
  </div>
</div>
<section id="about "
  class="section-block hero-5 hero-5-11 window-height right show-media-column-on-mobile bkg-white color-charcoal"
  style="max-height: 700px;">
  <!-- BEGIN PART1 -->
  <div class="media-column width-6" style="background-image: url('{PART1.IMAGE}');"></div>
  <div class="row">
    <div class="column width-5">
      <div class="hero-content split-hero-content">
        <div class="hero-content-inner left" data-animate-in="preset:slideInRightShort;duration:1000ms; "
          data-threshold="0.5 ">
          <h2 class="mb-30">{PART1.TITLE}</h2>
          <p> {PART1.DESCRIPTION} </p>
          <!-- END PART1 -->
          <!-- BEGIN PART2 -->
          <h2 class="mb-30">{PART2.TITLE}</h2>
          <p>{PART2.DESCRIPTION}</p>
          <!-- END PART2 -->
        </div>
      </div>
    </div>
  </div>
</section>
