<!-- BEGIN PART1 -->
<div class="section-block pb-0">
  <div class="testimonial-slider tm-slider-container">
    <ul class="tms-slides">
      <li class="tms-slide" data-image>
        <div class="tms-content-scalable">
          <div class="row">
            <div class="column width-12 text-center">
              <h4>{PART1.TITLE}</h4>
              <p> {PART1.DESCRIPTION}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- END PART1 -->
<div class="section-block p-0">
  <div class="container">
    <div class="accordion mb-50">
      <ul>
        <!-- BEGIN ACCORDION1 -->
        <li>
          <a href="#accordion-1-panel-1">{ACCORDION1.TITLE}</a>
          <div id="accordion-1-panel-1">
            <div class="accordion-content">
              <p>{ACCORDION1.DESCRIPTION}</p>
            </div>
          </div>
        </li>
        <!-- END ACCORDION1 -->
        <!-- BEGIN ACCORDION2 -->
        <li>
          <a href="#accordion-2-panel-2">{ACCORDION2.TITLE}</a>
          <div id="accordion-2-panel-2">
            <div class="accordion-content">
              <p>{ACCORDION2.DESCRIPTION}</p>
            </div>
          </div>
        </li>
        <!-- END ACCORDION2 -->
        <!-- BEGIN ACCORDION3 -->
        <li>
          <a href="#accordion-3-panel-3">{ACCORDION3.TITLE}</a>
          <div id="accordion-3-panel-3">
            <div class="accordion-content">
              <p>{ACCORDION3.DESCRIPTION}</p>
            </div>
          </div>
        </li>
        <!-- END ACCORDION3 -->
      </ul>
    </div>
  </div>
</div>
