<div class="section-block no-padding feature-column-group mt-20 mb-20" id="getting-started"
  style="margin-left: 5rem; margin-right: 5rem;">
  <div class="row full-width collapse flex">
    <div class="column width-4">
      <div class="feature-column small pt-80 pb-50 horizon"
        data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:100ms;" data-threshold="0.5">
        <div class="feature-text"><span class="text-large weight-light font-alt-1">01.</span>
          <!-- BEGIN PART1 -->
          <h3>{PART1.TITLE}</h3>
          <!-- END PART1 -->
        </div>
      </div>
    </div>
    <div class="column width-4 bkg-grey-ultralight">
      <div class="feature-column small pt-80 pb-50 horizon"
        data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
        <div class="feature-text"><span class="text-large weight-light font-alt-1">02.</span>
          <!-- BEGIN PART2 -->
          <h3 class="color-grey">{PART2.TITLE}</h3>
          <!-- END PART2 -->
        </div>
      </div>
    </div>
    <div class="column width-4">
      <div class="feature-column small pt-80 pb-50 horizon"
        data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:300ms;" data-threshold="0.5">
        <div class="feature-text"><span class="text-large weight-light font-alt-1">03.</span>
          <!-- BEGIN PART3 -->
          <h3 class="color-grey">{PART3.TITLE}</h3>
          <!-- END PART3 -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-block pt-0 pb-0">
  <div class="hero-slider tm-slider-container" data-height="1600" data-scale-min-height="700" data-width="2500">
    <ul class="tms-slides">
      <li class="tms-slide bkg-grey-ultralight right" data-as-bkg-image="" data-image=""
        data-image-wrapper="media-column" data-nav-dark="">
        <!-- BEGIN PART1 -->
        <div class="media-column width-6" id="livraison">&nbsp; </div>
        <div class="row">
          <div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale="">
            <div class="hero-content-inner left">
              <div class="tms-content-scalable">
                <h3 class="mb-40">{PART1.TITLE}</h3>
                <p>{PART1.DESCRIPTION}</p>
              </div>
            </div>
          </div>
        </div>
        <img alt="" src="{PART1.IMAGE}" />
        <!-- END PART1 -->
      </li>
      <li class="tms-slide bkg-grey-ultralight left" data-as-bkg-image="" data-image=""
        data-image-wrapper="media-column" data-nav-dark="">
        <!-- BEGIN PART2 -->
        <div class="media-column video width-6" id="produit" style="z-index: 10000000000000;">
          <video class="offset-3" controls="" src="{PART2.VIDEO}"
            style="max-height: 100%; min-height: 100%;">&nbsp; </video>
        </div>
        <div class="row">
          <div class="tms-caption hero-content split-hero-content column width-5 offset-7 no-transition"
            data-no-scale="">
            <div class="hero-content-inner left">
              <div class="tms-content-scalable">
                <h3 class="mb-40">{PART2.TITLE}</h3>
                {PART2.DESCRIPTION}
              </div>
            </div>
          </div>
        </div>
        <img alt="" src="{PART2.IMAGE}" />
        <!-- END PART2 -->
      </li>
      <li class="tms-slide" data-as-bkg-image="" data-force-fit="" data-image="">
        <!-- BEGIN PART3 -->
        <div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale="">
          <div class="hero-content-inner">
            <div class="tms-content-scalable color-white">
              <div class="row">
                <div class="column width-10 offset-1">
                  <h3 class="mb-40">{PART3.TITLE}</h3>
                  <p>{PART3.DESCRIPTION}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img alt="" src="{PART3.IMAGE}" />
        <!-- END PART3 -->
      </li>
    </ul>
  </div>
</div>
