<!-- BEGIN PART1 -->
<div class="section-block pt-60 pb-30 bkg-grey-ultralight color-charcoal">
  <div class="row">
    <div class="column width-8 offset-2 center">
      <h1 class="weight-light text-uppercase"> {PART1.TITLE} </h1>
    </div>
  </div>
</div>
<div class="section-block hero-5 hero-5-4 clear-height show-media-column-on-mobile bkg-white color-black">
  <div class="media-column width-6" style="background-image: url('{PART1.IMAGE}')">
    <div class="hero-content">
      <div class="hero-content-inner center">
        <a href="{PART1.VIDEO}"
          data-caption="This is a lightbox caption for the video playing"
          class="lightbox-link icon-play icon-circled border-white bkg-hover-theme color-white color-hover-white circled medium"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column width-5 push-7">
      <div class="hero-content split-hero-content">
        <div class="hero-content-inner left horizon"
          data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
          <p class="lead color-white"> {PART1.DESCRIPTION} </div>
      </div>
    </div>
  </div>
</div>
<!-- END PART1 -->
<!-- BEGIN PART2 -->
<div class="section-block testimonial-5 testimonials-5-about-1">
  <div id="testimonial-slider-1" class="testimonial-slider tm-slider-container">
    <ul class="tms-slides">
      <li class="tms-slide" data-image>
        <div class="tms-content-scalable">
          <div class="row">
            <div class="column width-8 offset-2">
              <h4>{PART2.TITLE}</h4>
              <blockquote class="center large">
                <p> {PART2.DESCRIPTION}</p>
              </blockquote>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- END PART2 -->
<div class="section-block replicable-content team-2 bkg-grey-ultralight">
  <div class="row">
    <!-- BEGIN PART3 -->
    <div class="column width-6">
      <h3 class="mb-50">{PART3.TITLE}</h3>
      <p>{PART3.DESCRIPTION}</p>
    </div>
    <!-- END PART3 -->
    <div class="column width-12 offset-2 center">
      <div class="row content-grid-3">
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
          <!-- BEGIN PART3LEFT -->
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART3LEFT.IMAGE}" width="760" height="500" alt="" />
          </div>
          <div class="team-content-info">
            <h4 class="mb-5">{PART3LEFT.TITLE}</h4>
            <p>{PART3LEFT.DESCRIPTION}</p>
          </div>
          <!-- END PART3LEFT -->
        </div>
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
          data-threshold="0.3">
          <!-- BEGIN PART3RIGHT -->
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART3RIGHT.IMAGE}" width="760" height="500" alt="" />
          </div>
          <div class="team-content-info">
            <h4 class="mb-5">{PART3RIGHT.TITLE}</h4>
            <p>{PART3RIGHT.DESCRIPTION}</p>
          </div>
          <!-- END PART3RIGHT -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN PART4 -->
<div class="section-block pt-60 pb-30 bkg-grey-ultralight color-charcoal">
  <div class="row">
    <div class="column width-8 offset-2 center">
      <h3 class="weight-light text-uppercase">{PART4.TITLE}</h3>
      <p>{PART4.DESCRIPTION}</p>
    </div>
  </div>
</div>
<div class="section-block pt-0 pb-0">
  <div class="row">
    <div class="column width-6">
      <img src="{PART4.IMAGE}" />
    </div>
    <!-- END PART4 -->
    <div class="column width-6">
      <div class="accordion mb-50">
        <ul>
          <!-- BEGIN ACCORDION1 -->
          <li class="active">
            <a href="#accordion-1-panel-1">{ACCORDION1.TITLE}</a>
            <div id="accordion-1-panel-1">
              <div class="accordion-content">
                <p>{ACCORDION1.DESCRIPTION}</p>
              </div>
            </div>
          </li>
          <!-- END ACCORDION1 -->
          <!-- BEGIN ACCORDION2 -->
          <li>
            <a href="#accordion-2-panel-2">{ACCORDION2.TITLE}</a>
            <div id="accordion-2-panel-2">
              <div class="accordion-content">
                <p>{ACCORDION2.DESCRIPTION}</p>
              </div>
            </div>
          </li>
          <!-- END ACCORDION2 -->
          <!-- BEGIN ACCORDION3 -->
          <li>
            <a href="#accordion-3-panel-3">{ACCORDION3.TITLE}</a>
            <div id="accordion-3-panel-3">
              <div class="accordion-content">
                <p>{ACCORDION3.DESCRIPTION}</p>
              </div>
            </div>
          </li>
          <!-- END ACCORDION3 -->
          <!-- BEGIN ACCORDION4 -->
          <li>
            <a href="#accordion-4-panel-4">{ACCORDION4.TITLE}</a>
            <div id="accordion-4-panel-4">
              <div class="accordion-content">
                <p>{ACCORDION4.DESCRIPTION}</p>
              </div>
            </div>
          </li>
          <!-- END ACCORDION4 -->
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
