<!-- BEGIN TITLE -->
<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-animation="slide" data-featured-slider="" data-parallax="" data-parallax-fade-out="" data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-as-bkg-image="" data-force-fit="" data-image="" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.4">
        <div class="tms-content">
          <div class="tms-content-inner center v-align-middle">
            <div class="row">
              <div class="column width-12">
                <div class="tms-caption box xlarge border-white thick mb-20" data-animate-in="preset:scaleOut;duration:1000ms;delay:100ms;" data-no-scale="">
                  <h1 class="title-large color-white no-margin-bottom center" style="margin-left: 75px; margin-right: 75px;"><span class="title-medium">Bienvenue chez</span>
                    <br />
                    {TITLE.TITLE}</h1>
                  <p class="text-uppercase lspacing-small color-white">{TITLE.DESCRIPTION}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="{TITLE.IMAGE}" alt="{TITLE.IMAGE_ALT}" /></li>
    </ul>
  </div>
</section>
<!-- END TITLE -->
<!-- BEGIN PART1 -->
<div class="section-block replicable-content">
  <div class="row">
    <div class="column width-9 square-left-text">
      <h2 class="mb-50">{PART1.TITLE} </h2>
      {PART1.DESCRIPTION}
    </div>
    <div class="column width-3">
      <img src="{PART1.IMAGE}" alt="{PART1.IMAGE_ALT}" class="square-left-image">
    </div>
  </div>
</div>
<!-- END PART1 -->
<!-- BEGIN PART2 -->
<div class="section-block replicable-content no-padding" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('{PART2.IMAGE}'); background-size: cover">
  <div class="row">
    <div class="column width-4 maps-text">
      <h2 class="mb-100">{PART2.TITLE}</h2>
      <div class="text-justify"><p>{PART2.DESCRIPTION}</p></div>
    </div>
  </div>
</div>
<!-- END PART2 -->
<!-- BEGIN PART3 -->
<div class="section-block replicable-content">
  <div class="row">
    <div class="column width-3">
      <img src="{PART3.IMAGE}" alt="{PART3.IMAGE_ALT}" class="square-right-image" />
    </div>
    <div class="column width-9 square-right-text">
      <h2>{PART3.TITLE}</h2>
      {PART3.DESCRIPTION}
    </div>
  </div>
</div>
<!-- END PART3 -->
<!-- BEGIN PART4 -->
<div class="section-block replicable-content bkg-grey-ultralight">
  <div class="row">
    <div class="column width-4 left">
      <h2 class="mb-30">{PART4.TITLE}</h2>
      <img src="{PART4.IMAGE}" alt="{PART4.IMAGE_ALT}" />
    </div>
    <div class="column width-6 offset-2 left">
      <p class="lead mb-50">{PART4.DESCRIPTION}</p>
    </div>
  </div>
</div>
<!-- END PART4 -->
