<div class="section-block replicable-content team-2 bkg-grey-ultralight">
  <div class="row">
    <div class="column width-6">
      <h2 class="mb-40">Les étapes de la pose</h2>
    </div>
    <div class="column width-12">
      <div class="row content-grid-3">
        <!-- BEGIN PART1 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART1.IMAGE}" alt="{PART1.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 10px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 1</h3>
            <h4 class="occupation">{PART1.TITLE}</h4>
            <p>{PART1.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART1 -->
        <!-- BEGIN PART2 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART2.IMAGE}" alt="{PART2.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 10px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 2</h3>
            <h4 class="occupation">{PART2.TITLE}</h4>
            <p>{PART2.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART2 -->
        <!-- BEGIN PART3 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART3.IMAGE}" alt="{PART3.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 15px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 3</h3>
            <h4 class="occupation">{PART3.TITLE}</h4>
            <p>{PART3.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART3 -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column width-12">
      <div class="row content-grid-3">
        <!-- BEGIN PART4 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART4.IMAGE}" alt="{PART4.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 15px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 4</h3>
            <h4 class="occupation">{PART4.TITLE}</h4>
            <p>{PART4.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART4 -->
        <!-- BEGIN PART5 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART5.IMAGE}" alt="{PART5.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 15px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 5</h3>
            <h4 class="occupation">{PART5.TITLE}</h4>
            <p>{PART5.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART5 -->
        <!-- BEGIN PART6 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{PART6.IMAGE}" alt="{PART6.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 15px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5">Etape 6</h3>
            <h4 class="occupation">{PART6.TITLE}</h4>
            <p>{PART6.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END PART6 -->
      </div>
    </div>
  </div>
</div>
