
<!-- BEGIN PART1 -->
<div class="section-block replicable-content bkg-grey-ultralight">
  <div class="row">
    <div class="column width-6 offset-3 center">
      <h2 class="mb-50">{PART1.TITLE}</h2>
    </div>
    <div class="column width-6 offset-3 left">
      <p>{PART1.DESCRIPTION}</p>
    </div>
  </div>
</div>
<!-- END PART1 -->
<div class="section-block replicable-content team-2 bkg-grey-ultralight">
  <div class="row">
    <div class="column width-12">
      <div class="row content-grid-3">
        <!-- BEGIN STEP1 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{STEP1.IMAGE}" alt="{STEP1.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 17px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5"><b>{STEP1.TITLE}</b></h3>
            <p>{STEP1.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP1 -->
        <!-- BEGIN STEP2 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{STEP2.IMAGE}" alt="{STEP2.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 10px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5"><b>{STEP2.TITLE}</b></h3>
            <p>{STEP2.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP2 -->
        <!-- BEGIN STEP3 -->
        <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
          data-threshold="0.3">
          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
            data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="{STEP3.IMAGE}" alt="{STEP3.IMAGE_ALT}" style="height: 100px; width: 100px; margin-left: 15px;" />
          </div>
          <div class="team-content-info">
            <h3 class="mb-5"><b>{STEP3.TITLE}</b></h3>
            <p>{STEP3.DESCRIPTION}</p>
          </div>
        </div>
        <!-- END STEP3 -->
      </div>
    </div>
  </div>
</div>
<!-- BEGIN PART2 -->
<section id="about"
  class="section-block hero-5 hero-5-12 window-height right show-media-column-on-mobile bkg-white color-charcoal"
  style="max-height: 500px;">
  <div class="media-column width-6" style="background-image: url('{PART2.IMAGE}');" alt="{PART2.IMAGE_ALT}" role="img"></div>
  <div class="row">
    <div class="column width-5">
      <div class="hero-content split-hero-content">
        <div class="hero-content-inner left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;"
          data-threshold="0.5">
          <h2 class="mb-30">{PART2.TITLE}</h2>
          <p>{PART2.DESCRIPTION}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PART2 -->
