<!-- BEGIN PART1 -->
<section class="section-block replicable-content bkg-grey-ultralight pt-40 pb-0">
  <div class="row">
    <div class="column width-6 left">
      <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500"
        data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
        <img src="{PART1.IMAGE}" alt="{PART1.IMAGE_ALT}" />
      </div>
    </div>
    <div class="column width-6">
      <h2 class="mb-30">{PART1.TITLE}</h2>
      <p>{PART1.DESCRIPTION}</p>
    </div>
  </div>
</section>
<!-- END PART1 -->
